
@{
    ViewData["Title"] = "dev";
}

   
    <a style="        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;"
       href="https://www.facebook.com/profile.php?id=100042562294566" target="_blank">

        This site has been developed by: Mohamed Ragab


        <img src="~/images/DSC_0139.JPG" style="width:500px;height:600px;" />

    </a>

